/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.background-toolbar{
    background-color: #f48fb1;
}
.font-white{
    color : #FFFF;
}